@import '../../../../../../node_modules/bootstrap/scss/bootstrap';

.navbar-mytheme{
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 

}

.thumbnail-img img {
    width: 100%;
    height: auto;
}

.post a {
    color: rgba(0, 0, 0, 0.5);   
}

.post a:hover {
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.post a:link,
.post a:visited,
.post a:hover
{
    text-decoration: none;
}

.title a {
    width: 100%;
    height: auto;
}

.comments {
    border: 1px #ccc solid;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidebar {
    margin-left: 10%;
    float: right;
}

.showcase {
    height: 600px;
    width: 100%;
    padding: 100px 20px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 30px;
    color: #fff;
}

.boxes {
    text-align: center;
    background: #fff;
    margin-bottom: 30px;
}
.box {
    padding: 15px;
    border: 1px #ccc solid;
}

.box p {
    color: rgba(0, 0, 0, 0.5);   
}





